<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome | Bmazon</title>

    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav class="main-nav">
        <h1>Bmazon</h1>
        <nav>
            <script>
                const auth = document.cookie?.split(';')[2]?.split("-")[1];
                if (auth === "true") {
                    document.write(`<a  href="/logout">Logout</a>`);
                }
                else {
                    document.write(`<a  href="/login">Login</a>`);
                    document.write(`<a  href="/signup">Sign up</a>`);
                }
                document.write(`<a  href="/admin">Admin</a>`);
            </script>
        </nav>
    </nav>

    <main class="products">
        <% for(const product of products) { %>
            <div class="product">
                <img src="<%-product['productImage']%>" alt="<%-product['productName']%>" />
                <div class="details">
                    <h1>
                        <%-product['productName']%>
                    </h1>
                    <p>$<%-product['productPrice']%>
                    </p>
                    <p>
                        <%-product['productQty']%> In stock
                    </p>
                    <div class="action">
                        <a href="/product_detail/<%-product['_id']%>"><button>Details</button></a>
                    </div>
                </div>
            </div>
            <%}%>
    </main>
</body>

</html>